@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700")
@import url("https://fonts.googleapis.com/css?family=Roboto:900,300,700,400")
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900")
@import url("https://fonts.googleapis.com/css?family=Lato:400,900,700,300")
@import url("https://fonts.googleapis.com/css?family=Marck+Script")
@import url("https://fonts.googleapis.com/css?family=Cabin:400,500,600,700")
@import url("https://fonts.googleapis.com/css?family=Tangerine:400,700")

/*@font-face
    font-family FontName
    font-style normal
    src url(../fonts/FontName.ttf)*/
