button#top
        position fixed
        bottom 1em
        right -15%
        color white
        background-color color1
        border 0
        padding 0.5em
        box-sizing border-box
        transition all 0.5s
        z-index 9999
        cursor pointer

        &.is-visible
            right 1em

        &.fade-out
            opacity 1

            &:hover
                opacity 1

        span
            font-size 1.5em
            &:before
                display block
