// Max Width
max-width = 1280px

// MediaQueries
movil = 480px
tablet = 768px
web = 1024px
hd = 1400px

mqmovil = "screen and (min-width:"+ movil +")"
mqtablet = "screen and (min-width:"+ tablet +")"
mqweb = "screen and (min-width:"+ web +")"
mqhd = "screen and (min-width:"+ hd +")"

// Colors
facebook = #3A5795
twitter = #00ACED
instagram = #0D3E64
google = #DC4B39
twitch = #6441a5
youtube = #cd201f
dribbble = #ea4c89

gray1 = #4B4A4F
lead1 = #AAAFC6
color1 = #FF6600
// Fonts

fontPTSans = 'PT Sans Caption', sans-serif
