@import 'nib'

@import 'theme/variables'
@import 'theme/fonts'
@import 'theme/animation'

normalize-css()

@import 'theme/base'
@import 'theme/header'
@import 'theme/section'
@import 'theme/gallery'
@import 'theme/footer'
@import 'theme/form'
@import 'theme/other'
