extends components/base.jade

block link
  - var selected = 'About';

block basetag
  -var base = '../'

block menu
  - var headerbase = '..'

block title
    | About

block content
    section
        h3
            span.icon-code
            | About
        p: | The best articles on startups, technology, programming, and more. All links are curated by hand from the popular Hacker News site.
        a.repo(href="https://github.com/CristhGunners/MinimalHackerNews", target="_blank", rel="nofollow noreferrer noopener")
            span.icon-github
            | Github Repository
        .author
            figure
                img(src="../images/profile.jpg", alt="Cristhofer Andana Alcaino")
            h2: | Cristhofer Andana Alcaino
            nav
                a(href="https://dribbble.com/CristhGunners", target="_blank", rel="nofollow noreferrer noopener"): span.icon-dribbble
                a(href="https://www.behance.net/cristhgunners", target="_blank", rel="nofollow noreferrer noopener"): span.icon-social-behance
                a(href="https://github.com/CristhGunners", target="_blank", rel="nofollow noreferrer noopener"): span.icon-github
                a(href="https://cristhgunners.github.io/", target="_blank", rel="nofollow noreferrer noopener"): span.icon-web

