extends components/base.jade

block link
  - var selected = 'Top';

block title
    | Top Stories

block content
    section.list
        h3#date
            span.icon-calendar
            span.datenow
        #articles
        .loading
        button#more: | Load More
        
block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js')
    script.
        var type_stories = "Top";
    script(src="js/js/app.js")
