extends components/base.jade

block link
  - var selected = 'Top';

block title
    | Top Stories

block content
    section.list
        h3#date
            span.icon-calendar
            span.datenow
        #articles
        .loading
        button#more: | Load More
        
block js
    script.
        var type_stories = "Top";    
