footer
    h4: | Share
    nav
        a.js-social-share(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//cristhgunners.github.io/MinimalHackerNews/", target="_blank"): span.icon-facebook-official
        a.js-social-share(href="https://twitter.com/home?status=Minimal%20Hacker%20News%20by%20%40cristhgunners%20http%3A//cristhgunners.github.io/MinimalHackerNews/", target="_blank"): span.icon-twitter
        
