block link
    - var selected = 'Top'; //default

- var menu = { 'Top': '/', 'Best': 'best.html', 'About': 'about.html'};

header
    .logo
        a(href="/")
            span.icon-hacker-news
    nav
        each val, key in menu
            if selected === key
                a.on(href=val, title=key)= key
            else
                a(href=val, title=key)= key
