block link
    - var selected = 'Top'; //default

- var menu = { 'Top': '/', 'Best': '/best', 'About': '/about'};

header
    a(href="/").logo
        span.icon-hacker-news

    nav
        each val, key in menu
            if selected === key
                a.on(href=val, title=key)= key
            else
                a(href=val, title=key)= key
